<div class="form-container">
<form class="login-form">
  <div>
     <h2 id="login-text">Login In</h2>
    {{!-- <label for="email-login">email:</label> --}}
    <input type="text" id="username-login" placeholder="Username"  />
  </div>
  <div>
    {{!-- <label for="password-login">password:</label> --}}
    <input type="password" id="password-login" placeholder="Password" style="margin-top: 5%;" />
  </div>
  <div >
    <button class="btn" id="login-btn" type="submit">login  <i class="fa-solid fa-right-to-bracket"></i></button>
  </div>
 
</form>
</form>
  <p> Don't have an account? <a href="/signup"> Sign up</a></p>
</form>

</div>
<script src="/javascript/login.js"></script>